<div class="row title">
    <h1>Number of Followers vs Number of People Followed</h1>
  </div>

<div class="chart">
  <div class="row">
    <center><div id="chart"></div></center>
  </div>
</div>
<script src="js/c3visualization.js"></script>
