<center>
  <row class="title">
    <h1 style="margin-top:5em;">Login With Instagram</h1>
  </row>

  <br/>
  <a href="/auth/instagram">
    <center><span class="fa fa-4x fa-instagram"></span></center>
    <button type="button" class="btn btn-primary">Login with Instagram</button>
  </a>
</center>

<script>
  $('.navbar').hide();
</script>
