<div class="row title">
  <h1> Media Count of Your Instagram Followers </h1>
  </div>

<div class="chart">
  <div class="row">
    <center><div id="chart"></div></center>
  </div>
  <center><button type="button"> Click me to sort</button></center>
</div>
<script src="js/visualization.js"></script>
